<div class="container">
	<% if(req.session.authenticated) {%>
		<p> Se registro </p>
	<%}%>

	<h1>UniRaid(?)</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rhoncus non eros sit amet viverra. Suspendisse potenti. Praesent venenatis urna vel egestas faucibus. Ut lectus nisi, sodales vel condimentum id, elementum in libero. Vestibulum vulputate pharetra risus, eget consequat lectus gravida vitae. Duis pulvinar vestibulum egestas. Morbi tincidunt et lacus vel consectetur. Nunc bibendum odio et viverra pellentesque. Sed condimentum tristique nisl, nec vulputate arcu viverra quis.</p>
	<p>Nulla non purus laoreet, ullamcorper turpis nec, tincidunt elit. Phasellus pharetra urna sit amet tortor rhoncus cursus. Vivamus dignissim enim a fringilla accumsan. Donec cursus enim sed placerat euismod. Quisque porttitor, velit quis ullamcorper bibendum, sem ipsum aliquet mauris, sit amet accumsan magna purus ac dui. Morbi pulvinar consequat odio eu ultricies. Vestibulum leo dui, vehicula a interdum vel, scelerisque et libero. Mauris eu pellentesque magna. Vestibulum non hendrerit lorem, sed faucibus nisl. Phasellus tempor facilisis pellentesque. Nunc ut est non turpis tincidunt maximus non sed nunc. Curabitur euismod gravida condimentum. Curabitur quis congue augue. Nunc volutpat, leo id sollicitudin viverra, nunc enim semper augue, in placerat arcu odio eget nunc. Proin nisl eros, lobortis maximus nibh sed, gravida bibendum lectus.</p>	

	<p>
		<br> Rap desde el edificio
		<br> comenzó por vicio
		<br> corrian los 90
		<br> mi madre limpiando pisos
		<br> de casas ajenas
		<br> pero no existe la pena
		<br> cuando tienes dos pequeños 
		<br> y en casa esperan la cena
		<br> despues de 20 eneros 
		<br> por fin comprendo primero
		<br> que a mi me gustó el futbol 
		<br> y a mi papá gastar dinero
		<br> y entre gatas, perico del bueno olvido a sus hijos
		<br> la pequeña esta en la escuela 
		<br> el grande es un rapero grifo
		<br> que si me rifo yo?
		<br> preguntale a tu vecina
		<br> el plan cambió comprando el disco en ese puesto de la esquina
		<br> asi que con permiso
		<br> y no me hable de paz
		<br> porque aunque no sea rico
		<br> volver a pobre jamas
		<br> entiendes ma?
		<br> porque le dejo el alma en cada ritmo
		<br> porque pa niños del barrio mis versos se vuelven himnos
		<br> atención que voy con revolver
		<br> sincho la mision
		<br> despues de 7 eneros por fin se volvio mi oficio
	</p>
</div>
