<div class="container">
	<% if(req.session.authenticated) {%>
		<p> Se registro </p>
	<%}%>

	<h1>UniRaid(?)</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rhoncus non eros sit amet viverra. Suspendisse potenti. Praesent venenatis urna vel egestas faucibus. Ut lectus nisi, sodales vel condimentum id, elementum in libero. Vestibulum vulputate pharetra risus, eget consequat lectus gravida vitae. Duis pulvinar vestibulum egestas. Morbi tincidunt et lacus vel consectetur. Nunc bibendum odio et viverra pellentesque. Sed condimentum tristique nisl, nec vulputate arcu viverra quis.</p>
	<p>Nulla non purus laoreet, ullamcorper turpis nec, tincidunt elit. Phasellus pharetra urna sit amet tortor rhoncus cursus. Vivamus dignissim enim a fringilla accumsan. Donec cursus enim sed placerat euismod. Quisque porttitor, velit quis ullamcorper bibendum, sem ipsum aliquet mauris, sit amet accumsan magna purus ac dui. Morbi pulvinar consequat odio eu ultricies. Vestibulum leo dui, vehicula a interdum vel, scelerisque et libero. Mauris eu pellentesque magna. Vestibulum non hendrerit lorem, sed faucibus nisl. Phasellus tempor facilisis pellentesque. Nunc ut est non turpis tincidunt maximus non sed nunc. Curabitur euismod gravida condimentum. Curabitur quis congue augue. Nunc volutpat, leo id sollicitudin viverra, nunc enim semper augue, in placerat arcu odio eget nunc. Proin nisl eros, lobortis maximus nibh sed, gravida bibendum lectus.</p>	

</div>
