<div class="container">	
	<% if(flash && flash.err) {%>
	<ul class="alert alert-success">
		<% Object.keys(flash.err).forEach(function(error){%>
		<li> <%- JSON.stringify(flash.err[error])%></li>
		<%})%>
	</ul>
	<%}%>
	<form action="create" method="POST" accept-charset="utf-8" class="form-signin">
		<label>Correo:</label>
		<input class="form-control" type="email" name="email" required>
		<label>Contraseña:</label>
		<input class="form-control" type="password" name="password" required>
		<br/>
		<label>Confirmar contraseña:</label>
		<input class="form-control" type="password" name="password_confirmation" required>
		<br/>
		<input type="submit">
	</form>
</div>
<!-- aqui va la vista de registro de usuarios -->