<br/>
<div class="container">	
	<form action="create" method="POST" accept-charset="utf-8" class="form-signin">
		<label>Correo:</label>
		<input type="email" name="email" required>
		<label>Contraseña:</label>
		<input type="password" name="password" required>
		<br/>
		<input type="submit">
	</form>
</div>
<!-- aqui va la vista de registro de usuarios -->