<div class="container">
	<h2>Informacion de usuarios</h2>
	<ul>
		<li> <%= user.email %> </li>
	</ul>

	<form action="/user/edit/<%= user.id %>" method="POST" accepted-charset="utf-8">
		<button type="submit" class="btn btn-success"> Edit </button>
	</form>
</div>