<br/>
<div class="container">	
	<form action="/post/create" method="POST" accept-charset="utf-8" class="form-signin">

		<label>Correo:</label>
		<input type="email" name="email" required>

		<label>Ruta:</label>
		<input type="text" name="route" required>

		<label>Costo:</label>
		<input type="number" name="cost" required>

		<label>Numero de contacto:</label>
		<input type="text" name="num_contact" required>

		<label>Tipo:</label>
		<input type="number" name="types" required>

		<input type="submit">
	</form>
</div>